@CHARSET "UTF-8";

.disclaimer {
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 15px 0;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	color: #eee;
	background-color: #000;
}

.disclaimer p {
	margin-bottom: 0;
}

.disclaimer a:link, .disclaimer a:visited {
	color: #eee;
}

.disclaimer a:hover {
	color: #C8DA30;
}

.startup {
        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;
}

body {
	background-color: #555;
	font-family: normal 10pt 'Ubuntu','Helvetica',sans-serif;
        margin: 0;
        padding: 0;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

#centered{
	display: block;
	margin: 0 auto;
	width: 780px;
}
#centered a{
	display: inline-block;
	padding: 75px 25px;
	background-color: #fff;
	box-shadow: 10px 10px 15px #000;
	border-radius: 15px;
	margin: 50px 0 50px 50px;
}
#centered img, #centered a{
	outline: none;
}
#centered a:hover{
	box-shadow: 10px 10px 15px #000, 0 0 10px 1px #000 inset;
}
a{
    color: #4f5a2e;
}
a:hover{
    color: #C8DA30;
}

.pager a{
    border: 0 !important;
}

.pager a{
    color: #000 !important;
}
.pager a:hover{
    color: #4f5a2e !important;
}
.pager .selected a{
    background-color: #C8DA30 !important;
}

.grid-view table.items th{
    background: none !important;
    background-color: #C8DA30 !important;
}
.grid-view table.items th a{
    color: #000 !important;
}
.grid-view table.items td{
    background-color: #fff !important;
}
