@CHARSET "UTF-8";

body{
    background-color: #555 !important;
}

h1{
    font-size: 2em !important;
}

.disclaimer {
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 15px 0;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	color: #eee;
	background-color: #000;
}
.disclaimer p {
	margin-bottom: 0;
}
.disclaimer a:link, .disclaimer a:visited {
	color: #0088CC;
}
.disclaimer a:hover {
	color: #C8DA30;
}

#content{
    padding-top: 10px;
}

.startup {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
}

/* Main menu */

/* Button icons */
/*
#mainmenu ul{
    padding-right: 0;
}
#mainmenu a{
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: block;
    padding: 15px 60px 15px 10px !important;
}
#menuFrontPage{
    background-image: url('../images/menu/FrontPageIcon.png');
}
#menuNewTransaction{
    background-image: url('../images/menu/NewTransactionIcon.png');
}
#menuPaymentsForDue{
    background-image: url('../images/menu/PaymentsForDueIcon.png');
}
#menuTransactions{
    background-image: url('../images/menu/TransactionsIcon.png');
}
#menuLoanApplications{
    background-image: url('../images/menu/LoanApplicationsIcon.png');
}
#menuLoans{
    background-image: url('../images/menu/LoansIcon.png');
}
*/

body {
	background-color: #555;
	font-family: 'Ubuntu','Helvetica', 'sans-serif' !important;
    margin: 0;
    padding: 0;
}

#page{
    box-shadow: 10px 10px 15px #000;
    margin-top: 5px;
    background: white;
    border-radius: 15px;
}

#page, #footer{
	width: 1000px;
	margin: 0 auto;
}

#centered{
	display: block;
	margin: 0 auto;
	width: 780px;
}
#centered a{
	display: inline-block;
	padding: 75px 25px;
	background-color: #fff;
	box-shadow: 10px 10px 15px #000;
	border-radius: 15px;
	margin: 50px 0 50px 50px;
}
#centered img, #centered a{
	outline: none;
}
#centered a:hover{
	box-shadow: 10px 10px 15px #000, 0 0 10px 1px #000 inset;
}

.pager a{
    border: 0 !important;
}

.pager a{
    color: #000 !important;
}
.pager a:hover{
    color: #4f5a2e !important;
}
.pager .selected a{
    background-color: #C8DA30 !important;
}

.grid-view table.items th{
    background: none !important;
    background-color: #C8DA30 !important;
}
.grid-view table.items th a{
    color: #000 !important;
}
.grid-view table.items td{
    background-color: #fff !important;
}
#uibox{
    margin: 20px 20px 0 0;
    float: right;
}
#uibox p{
    text-align: right;
    font-size: 0.5em !important;
}
#uibox form{
    margin: 0;
    padding: 0;
}
#uibox a{
    color: #A8CF38 !important;
}
#uibox a:hover{
    color: #C8DA30 !important;
}
#logo{
    border-bottom: 5px solid #A8CF38;
    margin-bottom: 10px;
}

#footer{
    margin-top: 20px;
    background-color: #A8CF38;
    text-align: center;
    padding: 30px 0 50px 0;
    border-radius: 0 0 15px 15px;
}
#footer a{
    color: #0088CC;
}
#loginForm{
    padding: 40px 80px;
}

#account-transaction-form label, #account-transaction-form input{
    display: inline-block;
}

#account-transaction-form label{
    width: 30%;
}

.ibanDropdown{
    width: 65%;
}
#account-transaction-form input[type='text']{
    width: 30%;
}

.detail-view .even{
    background-color: #eee !important;
}
.detail-view .odd{
    background-color: #ddd !important;
}

#createLoanApplicationForm label{
    display: inline-block;
    width: 20%;
}
.btn{
    float: right;
    padding: 10px 20px !important;
}
thead th{
    background-color: #eee;
}
.light{
    background-color: #fefefe !important;
}
#listTransactions tr{
    border-bottom: 1px dotted #999;
}
.padding40top{
    padding-top: 40px;
}

#tableLoanApplications .btn{
    width: 100px;
}