#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
        border-radius: 15px;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #999;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background-color: transparent;
        padding-top: 20px;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#000;
	background-color:#C8DA30;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding: 6px 8px;
        border-radius: 15px;
        margin-right: 2px;
        display: inline-block;
        width: 100px;
        text-align: center;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #fff;
	background-color:#transparent;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C8DA30;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{
    
}

.portlet-decoration
{
	padding: 5px 5px;
	background: #C8DA30;
        border-radius: 15px 15px 0 0;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 5px 0 0 15px;
	color: #000;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	background: #fff;
        border: 3px solid #C8DA30;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{

}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 0px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #000;
	display: block;
	padding: 5px 0 5px 15px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #000;
}

.operations li a:hover
{
        color: #C8DA30;
}